@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AVENTURA EXPRESS</h1>
    <p class="lead">En AVENTURA EXPRESS conseguiras todos los equipos necesario para tus viajes familiares practicando deporte de aventura.</p>
    <p><a id="Home_btn_youtube" href="https://www.youtube.com/watch?v=euPLSi-sAk4" class="btn btn-danger btn-lg">Youtube</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><strong>Clientes</strong></h2>
        <p>
            La aplicacion te permite Visualizar , Registrar , Actualizar y Eliminar Clientes.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2><strong>Alquileres</strong></h2>
        La aplicacion te permite Visualizar , Registrar Alquileres con sus Detalles.
    </div>
    <div class="col-md-4">
        <h2><strong>Equipos</strong></h2>
        La aplicacion te permite Visualizar , Registrar , Actualizar y Eliminar Equipos.
    </div>
</div>