@model WebApplication_AlquilerEquipos.Models.Alquiler

@{
    ViewBag.Title = "Create";
}


    <div >
        <div >
            <div >

                <form id="NewOrderForm">
                    <div >
                        @*Customer Details*@
                        <h5><strong>Cliente</strong></h5>
                        <hr />
                        <div class="form-horizontal">

                            <div class="form-group">
                                <div class="col-md-6">
                                    @Html.DropDownList("Cliente_Id", null, new { @Id = "Alquiler_ddl_Cliente", @class = "form-control" })
                                    <br />
                                    <label class="control-label col-md-7">Fecha Orden</label>

                                    <input type="date" id="Alquiler_dat_FechaOrder" name="fechaOrder" placeholder="Fecha" class="form-control" />

                                </div>
                            </div>
                        </div>

                        @*Order Details*@
                        <h5><strong>Equipo</strong></h5>
                        <hr />
                        <div class="form-horizontal">
                            <input type="hidden" id="OrderId" />
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.DropDownList("Equipo_Id", null, new { @Id = "Alquiler_ddl_Producto", @class = "form-control" })
                                </div>
                                <label class="control-label col-md-2"></label>
                            </div>

                            <div class="form-group">
                                <button id="addToList" class="btn btn-primary">Agregar a la Lista</button>
                            </div>

                            <table id="Alquiler_tabl_Deatalles" class="table">
                                <thead>
                                    <tr>
                                        <th style="width:30%">Id Equipo</th>
                                        <th style="width:10%"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <br />
                        </div>
                    </div>
                    <div >
                        @Html.ActionLink("Cancelar", "Index",null, new { @id = "Alquiler_btn_Cancelar" , @class = "btn btn-danger" })
                        <button id="Alquiler_btn_Guardar" type="submit" class="btn btn-primary">Guardar Datos</button>
                    </div>
                    <br />
                </form>
            </div>
        </div>
    </div>



@section scripts{

    <script>

        //Add Multiple Order.
        $("#addToList").click(function (e) {
            e.preventDefault();

            if ($.trim($("#Alquiler_ddl_Producto").val()) == "") return;

            var productName = $("#Alquiler_ddl_Producto").val(),
                detailsTableBody = $("#Alquiler_tabl_Deatalles tbody");
            var productItem = '<tr><td>' + productName + '</td><td><a data-itemId="0" href="#" class="deleteItem">Remove</a></td></tr>';
            detailsTableBody.append(productItem);
            clearItem();
        });
        //After Add A New Order In The List, Clear Clean The Form For Add More Order.
        function clearItem() {
            $("#Alquiler_ddl_Producto").val('Seleccione Equipo');
        }
        // After Add A New Order In The List, If You Want, You Can Remove It.
        $(document).on('click', 'a.deleteItem', function (e) {
            e.preventDefault();
            var $self = $(this);
            if ($(this).attr('data-itemId') == "0") {
                $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                    $(this).remove();
                });
            }
        });
        //After Click Save Button Pass All Data View To Controller For Save Database
        function saveOrder(data) {
            return $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "/Alquileres/SaveOrder",
                data: data,
                success: function (result) {
                    
                    location.href = "/Alquileres/Index";
                },
                error: function () {
                    alert("Error!")
                }
            });
        }
        //Collect Multiple Order List For Pass To Controller
        $("#Alquiler_btn_Guardar").click(function (e) {
            e.preventDefault();

            var orderArr = [];
            orderArr.length = 0;

            $.each($("#Alquiler_tabl_Deatalles tbody tr"), function () {
                orderArr.push({
                    Equipo_Id: $(this).find('td:eq(0)').html()
                });
            });


            var data = JSON.stringify({
                name: $("#Alquiler_ddl_Cliente").val(),
                fecha: $("#Alquiler_dat_FechaOrder").val(),
                order: orderArr
            });
            saveOrder(data)
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
